{
  "name": "[[= package_name]]",
  "private": true,
  "type": "module",
  "scripts": { "dev": "vite", "build": "vite build", "check": "[[= framework.check_script]]" },
  "dependencies": { "@inertiajs/vue3": "[[= versions.inertia]]", "vue": "[[= versions.vue]]" },
  "devDependencies": { "@vitejs/plugin-vue": "[[= versions.vite_plugin_vue]]", "typescript": "[[= versions.typescript]]", "vite": "[[= versions.vite]]", "vue-tsc": "[[= versions.vue_tsc]]" }
}
