import { createInertiaApp } from '@inertiajs/svelte'
const pages = import.meta.glob('./Pages/**/*.svelte', { eager: true })

createInertiaApp({ resolve: name => pages[`./Pages/${name}.svelte`] as never })
