{
  "name": "[[= package_name]]",
  "version": "0.1.0",
  "private": true,
  "type": "module",
  "scripts": { "dev": "vite", "build": "vite build[[% if ssr.enabled %]] && vite build --ssr[[% endif %]]", "check": "svelte-check --tsconfig ./tsconfig.json", "preview": "vite preview", "types:sync": "cargo inertia sync", "types:check": "cargo inertia sync --check" },
  "engines": { "node": "[[% if ssr.enabled %]]>=22.12.0[[% else %]]^20.19.0 || >=22.12.0[[% endif %]]" },
  "dependencies": { "@inertiajs/svelte": "[[= versions.inertia]]", "axios": "[[= versions.axios]]" },
  "devDependencies": { "@inertiajs/vite": "[[= versions.inertia]]", "@sveltejs/vite-plugin-svelte": "[[= versions.vite_plugin_svelte]]", "svelte": "[[= versions.svelte]]", "svelte-check": "[[= versions.svelte_check]]", "typescript": "[[= versions.typescript]]", "vite": "[[= versions.vite]]" }
}
